@model ECommerce.Models.Product

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))

{
    <input type="file" name="ImageData" id="ImageData" />
    <input type="submit" value="Upload" />
}