@model ECommerce.Models.Product

<div class="row">
    <div class="col-sm-4">
        <img src="~/Home/getImage/@Model.Id" alt="" style="width:30%" />
    </div>
    <div class="col-sm-4">
        <p>@Model.Name</p>
    </div>
    <div class="col-sm-4">
        <p>&#163;@Model.Price</p>
    </div>
</div>